@charset "UTF-8";*{margin:0;padding:0}#header #search,#topnav,#sidebar,#tools,#navigation,#footer,body>img,#stage,#TSFE_ADMIN_PANEL_FORM{display:none}.container_12
.grid_8{width:100%}#p-1
#sidebar{display:block}#p-1 .container_12
.grid_8{width:620px}body,.container_12{width:100%;min-width:100%}#wrapper{display:block}.container_12,.grid_8,.grid_12{margin-left:0px !important;margin-right:0px !important}
